mixin Form(_board, isThread)
    table
        tbody
            if !board.boardSettings.strictAnonymity
                tr
                    td.postblock Name
                    td
                        input(type='text' name='name' size=28)
                tr
                    td.postblock Email
                    td
                        input(type='text' name='email' size=28)
            tr
                td.postblock Subject
                td
                    input(type='text' name='subject' size=35)
                    input(type='submit' value='Submit')
            tr
                td.postblock Comment
                td
                    textarea(name='comment' rows=6 cols=60)
            if !isThread
              if board.boardSettings.threadFileAttachmentMode !== 'FORBIDDEN'
                  tr
                      td.postblock File
                      td
                          input(type='file' name='file' size=35 accept=board.boardSettings.allowedFileTypes.join(','))
            tr
                td.postblock Password
                td
                    input(type='password' name='password' size=8)
                    |  (to delete posts and files)
            tr
                td(colspan=2)
                    div.rules
                        ul
                            li Allowed file types are: #{board.boardSettings.allowedFileTypes.join(', ').toUpperCase()}
                            li Max file size is #{fileSize(board.boardSettings.maxFileSize)}
                            li Images with dimensions larger than 200x200 px will be downscaled
                        | !{board.boardSettings.rules}
    hr
