mixin Styles
    | [
    a(href='javascript:changeStyle(\'Futaba\', \'kashiwa_style\')') Futaba
    | ]
    | [
    a(href='javascript:changeStyle(\'Photon\', \'kashiwa_style\')') Photon
    | ]
    | [
    a(href='javascript:changeStyle(\'Burichan\', \'kashiwa_style\')') Burichan
    | ]
    =' - '

