include ../../_inc/thread/_head

html(lang='en')
    +Head('Management')
    body
        div.adminbar
            | [
            a(href='/kashiwa') Management
            | ]
            | [
            a(href='/') Main Page
            | ]
        div.logo #{SITE_SETTINGS().siteName}
        hr
        | [
        a(href=`/`) Go back
        | ]
        div.theader Sign up
        div.postarea
            form(action='/kashiwa/auth/sign-up' method='post')
                table
                    tbody
                        tr
                            td.postblock Username
                            td
                                input(type='text' name='username' size=28)
                        tr
                            td.postblock Email
                            td
                                input(type='email' name='email' size=28)
                        tr
                            td.postblock Password
                            td
                                input(type='password' name='password' size=28)
                div(align='center')
                    input(type='submit' value='Sign up' size=28)
