include _inc/thread/_head

html(lang='en')
    +Head('Dashboard - Kashiwa Image Board')
    body
        div.adminbar
            b [#{ role }]
            =' '
            | [
            a(href='/') Go to site
            | ]
            | [
            a(href='#') Edit profile
            | ]
            =' '
            form(action='/kashiwa/auth/sign-out' method='post' style='display: inline;')
                input(type='submit' value='Sign out')
        div.logo Management - Kashiwa Image Board
        hr
        div.theader Dashboard
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad atque dolores ea explicabo facilis, odio officiis perspiciatis quibusdam, quo rerum voluptate! Culpa earum explicabo itaque molestias perspiciatis quas voluptatibus?
