extends ./layouts/common_layout
include components/admin_bar

block content
    h1(align='center')= LOCALE.ERROR
    div(align='center')
        p
            b !{message}
        p
            a(href='/front')= LOCALE.TO_MAIN_PAGE
