include _inc/thread/_head

html(lang=LOCALE.HTML_LANG)
    +Head(LOCALE.ERROR)
    body
        h1(align='center')= LOCALE.ERROR
        div(align='center')
            p
                b !{message}
            p
                a(href='/')= LOCALE.TO_MAIN_PAGE
