extends ./layouts/common_layout
include components/admin_bar

block content
    +AdminBar()

    div.logo
        | #{SITE_SETTINGS().siteName}
    div.sublogo= SITE_SETTINGS().siteSlogan
    hr

    div
        | !{SITE_SETTINGS().faqPage}
