include _inc/thread/_head
include _inc/thread/_styles
include _inc/thread/_top_bar

html(lang='en')
    +Head('FAQ')
    body
        div.adminbar
            +Styles
            +TopBar
            | [
            a(href='/kashiwa') Management
            | ]
            | [
            a(href='/') Main Page
            | ]
        div.logo
            | #{SITE_SETTINGS().siteName}
        div.sublogo= SITE_SETTINGS().siteSlogan
        hr

        div
            | !{SITE_SETTINGS().faqPage}
