html(xmlns='http://www.w3.org/1999/xhtml' xml:lang=LOCALE.HTML_LANG)
    head
        meta(http-equiv='Content-Type' content='text/html;charset=utf-8')
        link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
        title
            | #{SITE_SETTINGS().siteName}

    frameset(cols='16%,*')
        frame(src='/menu' name='menu' scrolling='auto' frameborder='1')
        frame(src='/front' name='main')

    noframes
        | 'Your browser doesn`t support frames'