include ../thread/_styles

mixin AdminBar(role)
    div.adminbar
        +Styles
        b [#{ role }]
        =' '
        | [
        a(href='/')
            |#{LOCALE.GO_TO_SITE}
        | ]
        | [
        a(href='/kashiwa/staff/my')
            |#{LOCALE.EDIT_PROFILE}
        | ]
        =' '
        form(action='/kashiwa/auth/sign-out' method='post' style='display: inline;')
            input(type='submit' value=LOCALE.SIGN_OUT)
        style
            | .admin-info-panel {} .admin-info-panel a {text-decoration: underline;}
