mixin AdminLinks(role)
    div(align='center')
        | [
        a(href='/kashiwa') Dashboard
        | ]
        | [
        a(href='/kashiwa/staff') Staff panel
        | ]
        | [
        a(href='/kashiwa/board') Boards
        | ]
