mixin AdminLinks(role)
    div(align='center')
        | [
        a(href='/kashiwa') Dashboard
        | ]
        if role === 'ADMINISTRATOR'
            | [
            a(href='/kashiwa/staff') Staff panel
            | ]
            | [
            a(href='/kashiwa/board') Boards
            | ]
        | [
        a(href='/kashiwa/moderation') Moderation
        | ]
        | [
        a(href='/kashiwa/ban') Banned posters
        | ]
        if role === 'ADMINISTRATOR'
            | [
            a(href='/kashiwa/spam') Spam list
            | ]
            | [
            a(href='/kashiwa/ip-filter') IP Filter
            | ]
