mixin Oekaki()
    form(id='oekakiform' class='oekaki')
        script(src='/js/oekaki.js')
        script.
          placeOekakiInit(DEFAULT_OEKAKI_CANVAS_WIDTH, DEFAULT_OEKAKI_CANVAS_HEIGHT);
    hr
